<link rel="stylesheet" href="style-mint.css">

<div class="title">
    Mint your NFT
</div>

<div class="step-wrapper">
    <div class="step-heading">Step 1</div>
    <div class="step-sub-heading">First upload the image you want to mint!</div>
    <div class="step-content">
        <form action="/mint" method="post" enctype="multipart/form-data" class="upload-form">
            <input type="file" name="user_file" id="file" required>
            <input type="submit" value="UPLOAD">
        </form>
    </div>
</div>

<div class="step-wrapper">
    <div class="step-heading">Step 2</div>
    <div class="step-sub-heading">Now select the image you want as the NFT...</div>
    <div class="step-content">
        <% if (user.files.length) {
            user.files = user.files.reverse();
        %>
            <div class="collection-wrapper">
                <div class="collection-row">
                    <% for( let index = 0; index < user.files.length; index++ ) { %>
                        <div class="collection-item" data-id="<%= user.files[index].storedName %>">
                            <div class="collection-item_image">
                                <img src="<%= url + '/assets/' + user.files[index].storedName %>" alt="" width="200">
                            </div>
                            <div class="collection-item_options">
                                <% if (user.files[index].isMinted === false) { %>
                                    <button class="collection-item_options_button" data-id="<%= user.files[index].storedName %>" data-name="<%= user.files[index].originalName %>" onclick="handleMint()">Select</button>
                                    <button class="collection-item_options_button" data-id="<%= user.files[index].storedName %>" onclick="handleDelete()">Delete</button>
                                <% } else { %>
                                    <div class="minted">MINTED!</div>
                                <% } %>
                            </div>
                            <div class="collection-item_desc">
                                <%= user.files[index].originalName %> 
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>

<div class="step-wrapper">
    <div class="step-heading">Step 3</div>
    <div class="step-sub-heading">Enter your details and wait for the magic ;)</div>
    <div class="step-content">
        <div class="login-wrapper">
            <div class="login-form">
                <form action="/mint" method="post" class="form" id="mint">
                    <span id="mint-form-asset">LOL</span>
                    <div class="error" style="display: none;"> There was an error! </div>
                    
                    <label for="wallet">Enter your wallet address.</label>
                    <input type="text" name="wallet" id="wallet" placeholder="0xc0C83..." required>
                    
                    <label for="name">Name of the NFT?</label>
                    <input type="text" name="name" id="name" placeholder="My first NFT..!" required>
                    
                    <label for="description">Give a description?</label>
                    <input type="text" name="description" id="description" placeholder="Isn't this cool?" required>
                    
                    <input type="submit" value="MINT IT NOW!">
                </form>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    
    // fix for log out
    var login = document.querySelectorAll(".header-item");
    login[4].innerHTML = `<a class="link" href="/logout">Logout</a>`;
    document.querySelector('#login-link').innerHTML = 'Log out';
    document.querySelector('#login-link').href = '/logout';

    // to prevent resubmit on refresh
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

    // handle delete of image
    async function handleDelete() {
        var id = this.event.target.getAttribute('data-id');
        var res = await axios({
            url: '/api/delete',
            method: 'post',
            data: {
                'hash' : '<%= user.hash %>',
                'id' : id
            }
        });
        console.log(res.data);
        if(res.data.error === 0) {
            var item = document.querySelector(`.collection-item[data-id="${id}"]`);
            item.remove();
        } else {
            alert("Your file could not be deleted! Please try again later :/");
        }
    }

    var userHash = '<%= user.hash %>';
    var photoId = undefined;
    var lastSelected = undefined;

    async function handleMint() {
        var id = this.event.target.getAttribute('data-id');
        var name = this.event.target.getAttribute('data-name');
        photoId = id;

        if(this.event.target !== lastSelected) {
            this.event.target.innerHTML = "Selected";
            if(lastSelected != undefined) {
                lastSelected.innerHTML = "Select";
            }
            lastSelected = this.event.target;
        }

        var mintFormWrapper = document.querySelector('.login-wrapper');
        mintFormWrapper.style.display = 'block';

        var mintIndicator = document.querySelector('#mint-form-asset');
        mintIndicator.innerHTML = "-xx- minting " + name + " -xx-";
    }
    
    var form = document.querySelector('.form');
    form.addEventListener('submit', async function (e) {
        e.preventDefault();
        var data = new FormData(document.forms.mint);
        var addr = data.get('wallet');
        var name = data.get('name');
        var description = data.get('description');

        var res = await axios({
            url: '/api/mint',
            method: 'post',
            data: {
                id: photoId,
                addr: addr,
                name: name,
                description: description
            }
        });

        console.log(res.data);

        if(res.data.error == 1) {
            alert(res.data.note);
            return;
        }

        var item = document.querySelector(`.collection-item[data-id="${photoId}"] > .collection-item_options`);
        item.innerHTML = `<div class="minted">MINTED!</div>`;

        return;
    });

</script>
